#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 48px;
}

.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-weight: 200;
}
.unit {
  background-color: #a5e2f4;
  width: 24px;
  height: 24px;
  border: 1px solid black;
  border-radius: 0px;
}

.unit-container {
  display: grid;
  width: fit-content;
  height: min-content;
  gap: 0px;
  padding: 0px;
}

.pieces-container {
  display: flex;
  flex-direction: row;
  /* width: 700px; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

button {
  background: white;
  border: 1px solid black;
  border-radius: 0px;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 0px;
  /* margin: 15px; */
}

button:hover,
button:focus {
  background-color: #4b82a8;
  color: white;
}

.game-board {
  display: grid;
  grid-area: 1fr;
}

.game-board > .board {
  z-index: 0;
  grid-column: 1/2;
  grid-row: 1/2;
}

.game-board > .placed-pieces {
  z-index: 1;
  grid-column: 1/2;
  grid-row: 1/2;
  position: relative;
}

.reset {
  color: black;
  background-color: #bbf591;
  border-radius: 10px;
  padding: 10px;
}

.reset:hover,
.reset:focus {
  background-color: #d4ffb5;
  color: black;
}
